.hidden {
    visibility: hidden;
}

.topBtn {
    position: fixed; 
    bottom: 3rem;
    right: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.topBtn:hover {
    background-color: rgb(218, 218, 218);
}

.back-to-top:link {
    color: rgb(135, 127, 116);
}

.back-to-top:visited {
    color: rgb(135, 127, 116);
}

.back-to-top:hover {
    color: rgb(135, 127, 116);
}

.back-to-top:active {
    color: rgb(135, 127, 116);
}

.header {
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(168, 168, 168, 0.33);
    /* 讓導覽列在最上層 */
    z-index: 999;
    transition: top 0.4s;
}

/* 導覽列空間 */
/* 樣式：滑鼠停留時往下展示選單內容 */
.header-container {
    box-sizing: border-box;
    max-width: 1440px;
    height: 90px;
    padding: 0px 1rem;
    margin: 0px auto;
}

.topnav {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    object-fit: contain;
    height: 80px;
}

.left-area {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-area {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 導覽列連結文字樣式 */
.topnav a:link {
    color: rgb(135, 127, 116);
    font-size: 1.18rem;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.topnav a:hover {
    color: rgb(135, 127, 116);
    font-size: 1.18rem;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.topnav a:active {
    color: rgb(135, 127, 116);
    font-size: 1.18rem;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.topnav a:visited {
    color: rgb(135, 127, 116);
    font-size: 1.18rem;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.openBtn {
    color: rgb(135, 127, 116);
    font-size: 1.18rem;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    cursor: pointer;
}

/* Fullscreen Search */
/* The overlay effect with black background */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

/* Close button */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 76%;
    background: white;
    font-family: 'Montserrat', sans-serif;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
    float: left;
    width: 20%;
    padding: 10.9px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}

/* Footer */
.footer {
    width: 100%;
    background: rgb(135, 127, 116);
}

.footer-container {
    box-sizing: border-box;
    max-width: 1440px;
    height: 397px;
    padding: 0px 1rem;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widgets {
    width: 100%;
    padding: 6rem 0px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.footer-info-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    word-spacing: 0.45rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.footer-info-text-list {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    word-spacing: 0.2rem;
    color: whitesmoke;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.footer-info-text a:link {
    text-decoration: none;
}

.footer-info {
    flex: 1;
    height: 100%;
}

.footer-contact-us {
    flex: 1;
    height: 100%;
}

.footer-follow-us {
    flex: 1;
    height: 100%;
}

.social-media {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.social-media a:link {
    text-decoration: none;
    color: rgb(135, 127, 116);
}

.social-media a:visited {
    text-decoration: none;
    color: rgb(135, 127, 116);
}

.social-media a:hover {
    text-decoration: none;
    color: rgb(135, 127, 116);
}

.social-media a:active {
    text-decoration: none;
    color: rgb(135, 127, 116);
}

.social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.3rem;
    height: 3.3rem;
    margin-right: 0.8rem;
    border: 1px solid;
    border-radius: 50%;
    background-color: whitesmoke;
}

/* 搜尋我們指引圖示 */
.find-us {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 16rem;
    height: 3rem;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 1.2rem;
    margin-left: 2rem;
}

.find-us-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 2rem;
    height: 2rem; */
    margin: 0px 0.7rem;
}

.find-us-text {
    letter-spacing: 0.3rem;
}